<p>inicio works!</p>
<h1>{{nombre + ' ' + apellido}}</h1>

<app-loading [visible]="loadingvisible"></app-loading>

<div class="grid">
    <div class="col-6">
        <p-button label="Submit" (onClick)="visualizarloading()"></p-button>
    </div>
    <div class="col-6">
        <p-button label="Ir a Tabla" icon="pi pi-save" iconPos="right" (onClick)="irPaginaTabla()"></p-button>
    </div>
</div>




